"""
Maple Sap Vacuum Controller
Software to control a maple sap vacuum system using an ESP8266 controller
Copyright (C) 2022  Normand Cyr (norm@normandcyr.com)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

rename to config.py and replace with your parameters
"""


# General configuration parameters
LED_PIN = 2  # LED on Wemos D1 mini
DHT_PIN = 12  # D6 on Wemos D1 mini
RELAY_PIN = 14  # D5 on Wemos D1 mini
SCL_PIN = 5  # D1 on Wemos D1 mini
SDA_PIN = 4  # D2 on Wemos D1 mini
BMP280_ADDRESS = 118
LCD_ADDRESS = 39
LCD_TOTALROWS = 4
LCD_TOTALCOLUMNS = 20
LANGUAGE = "FR"  # FR for French, else the LCD display will be written in English

TEMPCAL_FACTOR = -1.5
START_TEMP = 1  # Temperature at which the pump will start
STOP_TEMP = -2  # Temperature at which the pump will stop

# Wifi network configuration
WIFI_SSID = "ma_cabane_a_sucre"
WIFI_PASSWORD = "j_aime_le_sirop"

# HTTP server configuration
SEND_DATA_HTTP = False
HTTP_SERVER_URL = "http://localhost"
HTTP_SERVER_PORT = 8080

# InfluxDB configuration
SEND_DATA_INFLUXDB = False
INFLUXDB_TOKEN = "le_sirop_d-erable__l-or_doree_du_Quebec!"
INFLUXDB_URL = "http://localhost"
INFLUXDB_PORT = 8086
ORGANIZATION = "cabane_a_sucre"
BUCKET = "vacuum_pump"
SENSOR_ID = "env_inside_box"

CURRENT_VERSION = "v0.1.1 2023-01-03"