"""
Maple Sap Vacuum Controller
Software to control a maple sap vacuum system using an ESP8266 controller
Copyright (C) 2022  Normand Cyr (norm@normandcyr.com)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
"""

# General configuration
LANGUAGE = "FR"  # FR for French, else the LCD display will be written in English
CURRENT_VERSION = "v0.2.0 2023-02-03"
DELAY_READING = 30 # Delay in seconds between readings

# Sensors installed
DHT = True
ONEWIRE = False
BME280 = True
LCD = True

# Wireless mode
ACTIVATE_AP = False 
CONNECT_WIFI = False

# Data transmisson
SEND_DATA_HTTP = False 
SEND_DATA_INFLUXDB = False

# Pin parameters
LED_PIN = 2  # LED on Wemos D1 mini
DHT_PIN = 12  # D6 on Wemos D1 mini
ONEWIRE_PIN = 13  # D7 on Wemos D1 mini
RELAY_PIN = 14  # D5 on Wemos D1 mini
SCL_PIN = 5  # D1 on Wemos D1 mini
SDA_PIN = 4  # D2 on Wemos D1 mini

# BME280 parameters
BME280_ADDRESS = 118

# LCD parameters
LCD_ADDRESS = 39
LCD_TOTALROWS = 4
LCD_TOTALCOLUMNS = 20

# Temperature calibration and setpoints
TEMPCAL_FACTOR = -1.5
START_TEMP = 1  # Temperature at which the pump will start
STOP_TEMP = -2  # Temperature at which the pump will stop

# Access point
AP_SSID = "StationPompage"
AP_PWD = "Sirop_dErable"

# Wifi network
WIFI_SSID = "ma_cabane_a_sucre"
WIFI_PASSWORD = "j_aime_le_sirop"


# HTTP server configuration
HTTP_SERVER_URL = "http://localhost"
HTTP_SERVER_PORT = 8080

# InfluxDB configuration
INFLUXDB_TOKEN = "yourfavoritetoken"
INFLUXDB_URL = "localhost"
INFLUXDB_PORT = 8086
ORGANIZATION = "cabane_a_sucre"
BUCKET = "vacuum_pump"
SENSOR_ID = "env_inside_box"
